.box1 {
  height: 100px;
  width: 100px;
  background: lightblue;
  border: 1px solid black;
  position: absolute;
}

.box2 {
  height: 100px;
  width: 100px;
  background: lightcoral;
  border: 1px solid black;
  left: 109px;
  position: absolute;
}

.box3 {
  height: 100px;
  width: 100px;
  background: lightcyan;
  border: 1px solid black;
  left: 209px;
  position: absolute;
}

.box4 {
  height: 100px;
  width: 100px;
  left: 309px;
  background: lightgoldenrodyellow;
  border: 1px solid black;
  position: fixed;
}