body {
    padding: 0;
    margin: 0;
    background-color: black;
}

div{
    display: inline;
    text-align: center;
}

img {
    width: 100px;
}

table {
    display: inline;
    border-collapse: collapse;
}

div {
    margin: 2em;
}

td,
th {
    width: 100vw;
    padding: 1em;
    text-align: center;
    border: solid 1px gray;
    font-family: roboto;
    font-size: 25px;
}

td {
    background-color: #A4BD00;
}

th {
    color: aliceblue;
    background-color: #0A0F75;
}

td a {
    color: black;
    text-decoration: none;
}

td a:hover {
    color: #A6F750;
}

h1{
    font-family: roboto;
    color: #A6F750;
}


.name {
    background-color: #39BAE6;
}