table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

tr, th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

[colspan="4"]{
  background-color: violet;
}

[colspan="2"]{
  background-color: orangered;
}

[rowspan="2"]{
  background-color: greenyellow;
}

th{
  background-color: red;
}

td{
  background-color: gray;
}

tbody tr:nth-child(2) :last-child {
  background-color: blue;
}